/* COLORS */
$color-primary: #001689;
$color-secondary: #fffaf2;

/* FONTS */
$font-heading: 'Zilla Slab', serif;
$font-text: 'Helvetica', sans-serif;

/* BREAKPOINTS */
$mobile: 767px;
$tablet: 991px;
$desktop: $tablet + 1px;
