@import '_reset.scss';
@import '_variables.scss';
@import '_mixins.scss';

* {
  box-sizing: border-box;
}

html {
  background: white;
}

body {
  font-family: $font-text;
}

:disabled {
  cursor: not-allowed;
}
